<div class="row" *ngIf="!loading">
    <div class="col-lg-3">
        <img [src]="product.image" alt="Image">
    </div>
    <div class="col">
        <div class="row">
            <div class="heading col-lg-10 col-sm-6 vstack gap-4" >
                <h2>{{product.name}}</h2>
                <h4>{{product.price|currency:"INR":"symbol":".0"}}</h4>
                <div class="hstack">
                <a
                *ngIf="existCart() > 0; else notInCart">
                <span
                  class="btn btn-primary cart"
                  (click)="addToCart('+')">
                    <i class="bi bi-plus-circle"></i>
                </span>
                <span>{{ existCart() }}</span>
                <span class="btn btn-danger cart" (click)="addToCart('-')">
                  <i class="bi bi-dash-circle"></i>
                </span>
              </a>
              <ng-template #notInCart>
                <a class="btn btn-primary" (click)="addToCart('+')">
                  Add to Cart
                </a>
              </ng-template>
              <span class="wish" (click)="addToWishlist()">
                <i
                  class="text-danger"
                  [ngClass]="{
                    'bi bi-heart': !existWish(),
                    'bi bi-heart-fill': existWish()
                  }">
                </i>
              </span>
              </div>
              <hr/>
              <div class="description">
                <h5 class="text-decoration-underline">Description</h5>
                <p  *ngFor="let description of product.description">
                  {{description}}
                </p>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center loading text-primary" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>